<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="lab01.css">
  
</head>
<body>

<div class="image-logo">
  <img src="Images/logoforWebSite.png">
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyFlick</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/hbs">Home</a></li>
        <li role="presentation"><a href="/albums">Albums</a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation" class="active"><a href="/blog">Blog</a></li>
       </ul>
    </div>
  </div>
</nav>

<ol class="breadcrumb">
  <li><a href="/blog">Blog</a></li>
  <li><a href="/blog4">Blog4</a></li>
</ol>

<nav class="col-md-2 navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbarLeft">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbarLeft">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="https://www.flickr.com/" target="_blank">Flick</a></li>
        <li role="presentation"><a href="https://www.instagram.com/?hl=en" target="_blank">Instagram</a></li>
        <li role="presentation"><a href="https://twitter.com/?lang=en" target="_blank">Twitter</a></li>
        <li role="presentation"><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="page-header">
  <h1>Create an Illusory World with Abstract Composition in Photoshop</h1>
</div>

<div class="blog-panavigation">
  <nav aria-label="Page navigation navbar-right">
  <ul class="pagination">
    <li>
      <a href="/blog3" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      </li>
      <li><a href="/blog3">3</a></li>
      <li class="active"><a href="/blog4">4</a></li>
      <li><a href="/blog5">5</a></li>
      <li>
        <a href="/blog5" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
  </ul>
</nav>
</div>


<!--<div class="vr">&nbsp;</div>-->

<img src="Blog_Images/Illusory.jpg" alt="Illusory"></a> 

<div class="content-blog font-blog">
<p class="blog-passage">
  The world is rapidly changing. So maybe you also want to change it up a bit? I invite you to dive into the world of amazing and surreal photo manipulation “Inception”. This work shows a piece of the digital world. Possible future world. You will learn how to create an abstract composition, interesting techniques and effects, working with a variety of instruments and much more! This tutorial will help you improve your skills and open your creative vision!
</p>

<p class="blog-passage">
  At the beginning of this work is all quite simple, work with color, and places of the model. The model must be added at the beginning, because it is the central object. Adding a city and imposing on it effects. In part with cubes you will need a little patience, because you will do a lot to transform them. In the final steps we will add effects and a little paint. You need attentiveness, diligence and good humor as possible, any version of Photoshop. I created this picture in Adobe Photoshop 2014.
</p>


<h2>Tutorial Resources</h2>
<ul>
  <li>Skyscrapers – Random-Acts-Stock</li>
  <li>Small skyscrapers – in StockProject,by thesmallwonder</li>
  <li>Factory Panorama – EveLivesey</li>
  <li>Factory – EveLivesey</li>
  <li>Cubes Pack</li>
  <li>Model – comicReference</li>
  <li>High Tech Brushes – ardcor</li>
</ul>

<h2>Step1</h2>
<p class="blog-passage">
  Open Photoshop. Create a new document. Go to File > New or the short key Cmd /Ctrl+ N. A blank document with size of 3000 pixels wide and 2000 pixels high, resolution 200 Pixels/Inch. I named the document “Inception”.
</p>

<img src="Blog_Images/Illusory.1.png" alt="Illusory.1"></a>

<h2>Step2</h2>
<p class="blog-passage">
  Create a new layer (Cmd /Ctrl+ Shift + N or use icon on Layers panel).
</p>
<img src="Blog_Images/Illusory.2.png" alt="Illusory.2"></a>

</div>

<div class="footer">Copyright: phandung1349@gmail.com</div>

</body>
</html>