<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="lab01.css">
  
</head>
<body>

<div class="image-logo">
  <img src="Images/logoforWebSite.png">
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyFlick</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/hbs">Home</a></li>
        <li role="presentation"><a href="/albums">Albums</a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation" class="active"><a href="/blog">Blog</a></li>
       </ul>
    </div>
  </div>
</nav>

<ol class="breadcrumb">
  <li><a href="/blog">Blog</a></li>
  <li><a href="/blog5">Blog5</a></li>
</ol>

<nav class="col-md-2 navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbarLeft">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbarLeft">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="https://www.flickr.com/" target="_blank">Flick</a></li>
        <li role="presentation"><a href="https://www.instagram.com/?hl=en" target="_blank">Instagram</a></li>
        <li role="presentation"><a href="https://twitter.com/?lang=en" target="_blank">Twitter</a></li>
        <li role="presentation"><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="page-header">
  <h1>Omega – Create this Abstract Composite Using Only Three Resources</h1>
</div>

<div class="blog-panavigation">
  <nav aria-label="Page navigation navbar-right">
  <ul class="pagination">
    <li>
      <a href="/blog3" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      </li>
      <li><a href="/blog3">3</a></li>
      <li><a href="/blog4">4</a></li>
      <li class="active"><a href="/blog5">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
  </ul>
</nav>
</div>


<!--<div class="vr">&nbsp;</div>-->


<div class="content-blog font-blog">
<h2>What you’ll be creating</h2>
<p class="blog-passage">
  We’ll start by adding the image of mine. Then add the spheres. The next step will adding glow and lightning. Create a special brush “exploding lightning”. We will continue to work on the texture to create the effect of radiation. At the end of the work we will work on toning. I will show you two options of coloring and you can make them. You need attentiveness, diligence and good humor as possible, all version of Photoshop.
</p>
<img src="Blog_Images/Omega.jpg" alt="Omega"></a> 
<h2>Tutorial Resources</h2>
<ul>
  <li>Altitude Chamber – d3wd</li>
  <li>3D sphere – in-the-skies</li>
  <li>Lightning Photoshop Brushes – redheadstock</li>
</ul>

<h2>Step1</h2>
<p class="blog-passage">
  Create a new document. Go to File > New or the short key Cmd /Ctrl+ N. A blank document with size of 3000 pixels wide and 2000 pixels high, resolution 200 Pixels/Inch. I named the document “Omega”.
</p>
<img src="Blog_Images/Omega.1.png" alt="Omega.1"></a> 

<h2>Step2</h2>
<p class="blog-passage">
  Now I have added a background picture. Go to File > Place and select the image “d3wd0057___Altitude_Chamber_by_d3wd”.
</p>
<img src="Blog_Images/Omega.2.jpg" alt="Omega.2"></a> 

</div>

<div class="footer">Copyright: phandung1349@gmail.com</div>

</body>
</html>